In [16]:
import pandas as pd
import numpy as np
import streamlit as st
import matplotlib.pyplot as plt
import os
import json

In [17]:
records = []
directory = "./polar_files/"
for filename in os.listdir(directory):
    filepath = os.path.join(directory, filename)
    #Filter out other files than json
    if str(filepath).endswith('.json'):
        #Open each file, load content to "data" (dictionary)
        with open(filepath, "r", encoding="utf-8") as f:
            data = json.load(f)
            #Flattens the nested dictionaries
            flat_data = pd.json_normalize(data)
            #make a list item from data
            records.append(flat_data)
#Join all list items into a dataframe
df = pd.concat(records, ignore_index = True)

In [23]:
#Cut out unnecessary columns
df = df[df.columns[:26]]
csv_path = os.path.join(directory, 'general_information.csv')
df.to_csv(csv_path)

In [30]:
df.head()

,exportVersion,name,deviceId,feeling,latitude,longitude,startTime,stopTime,timeZoneOffset,distance,...,physicalInformationSnapshot.sex,physicalInformationSnapshot.birthday,"physicalInformationSnapshot.height, cm","physicalInformationSnapshot.weight, kg",physicalInformationSnapshot.vo2Max,physicalInformationSnapshot.maximumHeartRate,physicalInformationSnapshot.restingHeartRate,physicalInformationSnapshot.aerobicThreshold,physicalInformationSnapshot.anaerobicThreshold,physicalInformationSnapshot.sleepGoal
0,2.5,Hiihto,71CDED24,0.0,65.074083,25.517852,2025-03-09T15:07:22.000,2025-03-09T17:05:44.000,120,30530.400391,...,MALE,1983-10-18,186.0,80.0,50,195,55,146,176,PT27000S
1,2.5,Hiihto,71CDED24,0.0,65.074017,25.517755,2025-02-03T18:35:18.000,2025-02-03T19:59:04.000,120,14975.500000,...,MALE,1983-10-18,186.0,80.0,50,195,55,146,176,PT27000S
2,2.5,Hiihto,71CDED24,0.0,65.074302,25.517495,2025-03-15T09:42:07.000,2025-03-15T11:19:39.000,120,21819.599609,...,MALE,1983-10-18,186.0,80.0,50,195,55,146,176,PT27000S
3,2.5,Hiihto,71CDED24,0.0,65.074018,25.517762,2025-03-11T12:28:17.000,2025-03-11T15:43:44.000,120,50517.199219,...,MALE,1983-10-18,186.0,80.0,50,195,55,146,176,PT27000S
4,2.5,Hiihto,71CDED24,0.0,67.000552,27.258175,2025-03-06T11:08:38.000,2025-03-06T16:00:58.000,120,33031.300781,...,MALE,1983-10-18,186.0,80.0,50,195,55,146,176,PT27000S

2025-11-27 11:36:58.447 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-27 11:36:58.480
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/tuukka/data_engineering/venv/lib/python3.12/site-packages/ipykernel_launcher.py [ARGUMENTS]
2025-11-27 11:36:58.481 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-27 11:36:58.482 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()